<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userBean" class="com.powernode.spring6.bean.User"/>

    <bean id="vipBean" class="com.powernode.spring6.bean.VipFactory" factory-method="get"/>

    <bean id="orderFactory" class="com.powernode.spring6.bean.OrderFactory"/>
    <bean id="orderBean" factory-bean="orderFactory" factory-method="get"/>

    <bean id="personBean" class="com.powernode.spring6.bean.PersonFactoryBean"/>

    <bean id="studentBean" class="com.powernode.spring6.bean.Student">
        <property name="birth" ref="dateBean"/>
    </bean>

    <bean id="dateBean" class="com.powernode.spring6.bean.DateFactoryBean">
        <constructor-arg name="date" value="1990-10-10"/>
    </bean>

</beans>