<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="people" class="com.powernode.spring6.beans.People">
        <property name="names">
            <list>
                <value>张三</value>
                <value>张三</value>
                <value>李四</value>
            </list>
        </property>

        <property name="phones">
            <set>
                <value>206-1212-0909</value>
                <value>206-1212-0908</value>
                <value>206-1212-0908</value>
            </set>
        </property>

        <property name="addresses">
            <map>
                <entry key="1" value="los angeles"/>
                <entry key="2" value="dallas"/>
                <entry key="3" value="seattle"/>
            </map>
        </property>
    </bean>


</beans>